body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #f8f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  header .logo {
    width: 80px;
    height: auto;
  }
  
  header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
  }
  
  header p {
    font-size: 14px;
    color: #555;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .btn.primary {
    background-color: #f75c5c;
    color: white;
  }
  
  .btn.secondary {
    background-color: #f75c5c;
    color: white;
  }
  
  .input-text {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4f4f;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  .button-link:hover {
    background-color: #ff5656;
  }
  